
:root{
  --main-container-color:rgb(236, 236, 236);
  --primary-color:rgb(102, 102, 102);
  --primary-variant:rgb(167, 167, 167);
  --light-color:rgb(230, 230, 230);
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0px;
  color: rgb(39, 39, 39);
}

.delete{
  background-color: rgb(255, 122, 122);
}

p, h3{
  margin: 0;
  padding: 0;
}

.lightGreen{
  background-color: lightgreen;
}

.gray{
  background-color: lightgrey;
}

.textRight{
  text-align: right;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

.App{
  min-height: 100vh;
}
.container{
  width: 1200px;
  max-width: 100vw;
  margin: auto;
}

button, select{
  cursor: pointer;
}

.button{
  padding: 0 2rem;
  height: 4rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.input{
  height: 3.5rem;
  border: none;
}

.light{
  color: var(--primary-color);
  background-color: rgb(219, 219, 219);
}

.chart{
  height: 30rem;
}

.formInput{
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}

.card{
  background-color: var(--main-container-color);
  border-radius: 1rem;
}

.messages{
  margin: auto;
}

.messages div{
  display: block;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.loadingMessage{
  background-color: rgb(240, 252, 76);
}

.successMessage{
  background-color: rgb(178, 255, 127);
}

.errorMessage{
  background-color: rgb(255, 142, 127);
}

th{
  cursor: pointer;
}

.selectBig{
  width: 15rem;
  font-size: 2rem;
}

.selectMedium{
  width: 15rem;
  font-size: 1.6rem;
}

/* OptionsBar */
.options{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-variant);
}

.options ul{
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 1rem;
}

.options ul li{
  padding: 1rem;
  cursor: pointer;
  color: white;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
}
.options ul li:hover{
  background-color: gray;
}


/* TickersFound */
.tickersFound{
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.tickersFoundBig{
  justify-content: space-around;
}
.tickersFoundBig label{
  font-size: 6rem;
  justify-self: start;
}

.tickersFoundSmall{
  justify-content: space-between;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  height: 4rem;
  margin: 1rem 0;
}

.tickersFoundSmall label{
  font-size: 2.5rem;
}


/* Header */
.header{
  background-color: rgb(241, 241, 241);
}

.mainLogo a{
  text-decoration: none;
  color: dimgray;
  font-size: 3rem;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 25rem;
}

.headerButton{
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.headerContainer{
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navbar li{
  margin: 1rem;
}

/* Table */
.table thead{
  display: block;
}
.table thead tr{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(5rem, 1fr));
  padding-right: 17px;
}
.table thead th{
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 1rem 0.4rem;
  margin: 0;
}

.table tbody{
  display: block;
  overflow-y: scroll;
}
.table tbody tr{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(5rem, 1fr));
}
.table tbody tr:hover td{
  background-color: rgb(173, 173, 173);
}

/* SubHeader */
.subHeader{
  grid-column: 1/3;
  height: 5rem;
  background-color: var(--primary-color);
}

.subHeaderNav{
  display: flex;
  justify-content: space-between;
}

.subHeaderNav ul{
  height: 5rem;
  display: flex;
  align-content: center;
}

.subHeaderNav ul li{
  display: flex;
  align-items: center;
}

.subHeaderNav ul li a{
  text-decoration: none;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin:auto;
  height: 4rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
}

.subHeaderNav ul li a:hover{
  background-color: rgb(163, 163, 163);
}

.headerCurrencies{
  display: flex;
  align-items: center;
}

.selectERate{
  width: 9rem;
  letter-spacing: -1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 0.5rem;
}

.currencyText{
  color: white;
  font-size: 2rem;
}

.currencyText:last-child{
  width: 7.5rem;
}

/* Page */
.page{
  margin-top: 5rem;
}

/* TickerCategory */

.tickerCategoriesContainer{
  max-width: inherit;
  height: 4rem;
  margin: 1rem 0;
}

.tickerCategoriesHeader{
  display: flex;
  align-items: center;
  height: 4rem;
  
}

.tickerCategories{
  position: relative;
  height: 4rem;
  overflow: hidden;
  z-index: 5;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--primary-variant);
}

.categoriesButton{
  border: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 0.1rem solid var(--primary-variant);
}

.tickerCategoriesSelected{
  width: 100%;
  display: grid;
  grid-template-columns: 9rem repeat(auto-fill,minmax(8rem, 1fr));
  grid-row-gap: 1rem;
  height: 2.8rem;
  overflow-y: scroll;
}

.tickerCategories{
  padding-left: 0.5rem;
  max-height: 55rem;
  overflow-y: unset;
}

.tickerCategories:hover{
  height: auto;
}

.tickerCategory h4{
  margin: 0.5rem 0;
}

.categoryTickers{
  display: flex;
  flex-wrap: wrap;
}

.categoryTickers button{
  margin: 0.2rem;
}

/* SelectPortfolio */
.selectPortfolio{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  height: 4rem;
}

select{
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
  height: 3rem;
}

.selectPortfolio label{
  height: 2rem;
  font-size: 1.2rem;
}

 /* HomeScreen */
.homeScreen{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 5rem;
  grid-gap: 2rem;
}

.mainHeader{
  border-bottom: 0.1rem solid black; 
  padding: 1rem 0;
}

.portfolioSection{
  padding: 2rem;
}

.portfolioListTicker{
  display: grid;
  grid-template-columns: 10rem 1fr 8rem;
  height: 3rem;
  border-bottom: 0.1rem solid rgb(163, 163, 163);
  align-items: center;
}

.tickerPrice{
  text-align: end;
  font-weight: bold;
}

.tickerTable{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
  grid-auto-rows: 6rem;
  grid-gap: 0.3rem;
  align-items: center;
  /* justify-content: space-around; */
}

.tickerTable{
  font-size: 2rem;
}

.tickerTableTicker{
  height: 100%;
  text-decoration: none;
}

.tickerTableTicker p,h3{
  padding: 0.2rem;
  color: rgb(0, 0, 0);
}
.tickerTableTicker p{
  text-align: right;
  font-weight: bold;
}

.tickerTableTicker{
  background-color: rgb(238, 238, 238);
}

.tickerTableTicker:hover{
  background-color: rgb(110, 110, 110);
} 

.tickerTableTicker:hover h3{
    color: rgb(248, 248, 248);
} 

/* TradingScreen */
.tickerList{
  margin: auto;
  width: 70rem;
}

.createPortfolio{
  margin: 2rem;
}

.portfolio{
  background-color: rgb(161, 228, 191);
  margin: 2rem 2rem;
}
 
.portfolioHead{
  display: grid;
  grid-template-columns: 16rem 1fr 11rem;
  grid-column-gap: 0.5rem;
  height: 6rem;
}

.portfolioInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolioTicker{
  border-bottom: 0.1rem solid black;
}

.tickerHeader{
  display: grid;
  grid-template-columns: 10rem 20rem 1fr 1fr 7rem;
  grid-column-gap: 1rem;
  align-items: center;
}

.tickerHeader p{
  margin: 0;
}

.portfolioModify{
  display: flex;
}

.headerButtons{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.headerButtons button{
  height: 2.5rem;
}

.smoothInput{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerInput{
  height: 3rem;
  font-size: 2rem;
  width: 16rem;
}

.tickerTransactions{
  overflow: hidden;
}

.addTickerTransaction ul{
  display: flex;
  background-color: rgb(194, 194, 194);
}

.addTickerTransaction ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.addTickerTransaction ul li input{
  width: 5rem;
}

#shareDate{
  width: 13rem;
}

.transactionType div{
  display: flex;
}

.transaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}

.transaction input{
  width: 5rem;
  text-align: right;
}

.transaction p{
  margin: 0.5rem;
}



/* Graph */
.mainGraphs{
  display: grid;
  grid-template-rows: 45rem 30rem;
 padding: 2rem; 
}

.selectedPortfolio{
  display: flex;
}

.labels{
  position: absolute;
}

/* SigninScreen */

.form ul{
  list-style-type: none;
  padding: 2rem;
  margin-top: 2rem;
}

.form ul li{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.form{
  max-width: 40rem;
  margin: auto;
  background-color: var(--main-container-color);
}

/* AddDataScreen */
.inputPage{
  display: flex;
  margin:5rem;
}

.inputActions{
  margin-top: 1rem;
  width: 30rem;
}

.dataInputs{
  display: flex;
  flex-direction: column;
}

.financeInput{
  height: 15rem;
  border: 0.1rem solid black;
}

.financeFileInput{
  width: 100%;
  height: 10rem;
  border: 0.1rem solid black;
}

.financeFileInputText{
  position: absolute;
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-left: 5rem;
}

.companyInputInfo{
  display: flex;
  width: 20rem;
  justify-content: space-between;
}

.tickerUpdateList{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 0.1rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.tickerUpdateList h3{
  grid-column: 1/6;
}

.ready{
  background-color: rgb(224, 241, 222);
}

.notReady{
  background-color: rgb(241, 222, 222);
  
}

.tickerUpdateListTicker{
  font-size: 1.2rem;
  padding: 0.2rem;
  text-align: center;
  border: 1px solid rgb(148, 148, 148);
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

.tickerUpdateListTicker:hover{
  background-color: rgb(172, 172, 172);
}

.output{
  margin: 0 2rem;
}

.controlPanel{
  margin-bottom: 1rem;
  width: 120rem;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto 10rem 1fr 1fr;
  grid-column-gap: 4rem;
}

.addTicker{
  display: grid;
  grid-template-columns: repeat(3,auto);
  align-items: center; 
  grid-gap: 1rem; 
}

.addTicker label{
  color: var(--light-color)
}

.exhangeRates{
  display: grid;
  grid-template-columns: 20rem 13rem;
  align-items: center;
}

.exhangeRate{
  display: grid;
  grid-template-columns: 6rem 1fr;
}

.exhangeRate label{
  font-size: 1.2rem;
  color: var(--light-color)
}

.exhangeRate p{
  color: var(--light-color);  
  font-size: 1.2rem;
}

.exhangeRate h3{
  grid-column: 1/3;
  color: var(--light-color);  
  font-size: 1.2rem;
  padding: 0;
}

/* Overview */

.overviewActions{
  background-color: var(--light-color);
  padding: 1rem;
  display: flex;
}

.overviewActions button{
  margin-right: 1rem;
}

.actionsInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsInfo h2{
  margin: 0;
  padding-right: 3rem;
}

.overviewContent{
  margin-top: 3rem;
  max-width: 120rem;
}

.table{
  border-collapse:collapse;
}

.table thead tr th {
  background-color: var(--primary-color);
  color: white;
}




.overviewTable{
  border-collapse:collapse;
}

.overviewTable thead tr th {
  background-color: var(--primary-variant);
  color: var(--light-color);
}

.overviewTable thead{
  display: block;
}
.overviewTable thead tr{
  display: grid;
  grid-template-columns: 7rem 10rem 18rem 1fr 1fr;
  padding-right: 17px;
}

.overviewTable thead th{
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 1rem 0.4rem;
  margin: 0;
}

.overviewTable tbody{
  display: block;
  height: 50rem;
  overflow-y: scroll;
}
.overviewTable tbody tr{
 display: grid;
 grid-template-columns: 7rem 10rem 18rem 1fr 1fr;
}

.rowhighlight > td { background: rgb(150, 177, 150);}

.inputTd{
  text-align: center;
}
input[type=checkbox] {
  transform: scale(1.5);
}
.overviewTableCell{
  display: grid;
  grid-template-columns: auto 8rem 1fr;
  background-color: rgb(134, 134, 134);
  color: white;
  /* padding: 0 1rem; */
  grid-gap: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(100, 100, 100);
}

.overviewContent{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.overviewContent .updateMessages{
  height: 40rem;
}

.overviewContent .updateMessages h3{
  height: 4.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.inputInfoHeader{
  width: 120rem;
  background-color: rgb(193, 194, 199);
  display: grid;
  grid-template-columns: 1fr 20rem;
}

.inputInfoProfile{
  display: grid;
  grid-template-columns: 20rem repeat(5,1fr);
  align-items: center;
  padding: 1rem;
}

.inputProfileActions{
  grid-row: 1/4;
}

.inputInfoItem input{
  width: 14rem;
  border: none;
  border-radius: 0.1rem;
  height: 2rem;
}

.itemLabel{
  margin:0.5rem 0;
  display: block;
  font-size: 1.4rem;
}

.tickerSlimInfo{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.tickerSlimInfo div div h3 span{
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 2rem;
}

.tickerSlimRatios{
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.selectedRatios{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.inputInfoRatio{
  background-color: rgb(230, 230, 230);
  padding: 0 0.2rem;
}

.inputInfoRatio input{
  width: 5rem;
}

.tickerLatestPrice{
  display: grid;
  grid-template-rows: 3rem 1fr;
  padding: 0 0.5rem;
}

.latestPrice{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 6rem;
  grid-gap: 0.5rem;
}

.latestPrice .inputInfoRatio{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputInfoActions{
  display: grid;
  grid-template-rows: 3rem 1fr 3rem; 
  grid-row: 1/2;
  grid-column: 2/3;
}

.inputInfoButtons{
  width: 120rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
  gap:0.5rem;
}

.inputInfo{
  padding: 1rem;
  border-bottom: 0.2rem solid black;
  cursor: pointer;
  font-size: 1.4rem;
}

.updateMessages{
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  height: 10rem;
  background-color: rgb(240, 240, 240);
  border-radius: 0.4rem;
  padding:0.2rem;
}

.updateMessage{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0 0.5rem;
  opacity:0.8;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.updateMessage p{
  width: 100%;
}

.updateMessage:last-child{
  scroll-snap-align: end;
}

.searchBox{
  margin: auto;
}

.searchBox input{
  width: 25rem;
  height: 2.5rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(128, 128, 128);
}

.searchResult{
  position: relative;
  background-color: rgb(199, 199, 199);
  height: 3rem;
  display: grid;
  font-size: 1.4rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 23rem;
  display: block;
}

.resultContainer{
  height: 0;
}

.searchResult:hover{
  background-color: rgb(150, 150, 150);
}

.searchResult p{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.outputItem{
  display: flex;
}

.inputDataTable{
  margin-top: 2rem;
}
.inputDataTable h3{
  margin:2rem 0;
}

.inputTableInput{
  width: auto;
  border: none;
  height: 2.5rem;
}

.tableHeader span{
  height: 0;
  /* display: block; */
}

.tableHeader button{
  width: 2rem;
  display: block;
  margin-left: auto;
  background-color: rgb(241, 158, 158);
  border: none;
  cursor: pointer;
}

.tableButton{
  margin: 0.5rem;
  height: 3rem;
}

/* ScreenerScreen */
.screenerScreen{
  margin-top: 5rem;
  border-radius: 1rem;
}

.screenerInputContainer{
  background-color: var(--light-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-auto-rows: 10rem; */
  grid-gap: 2rem;
  align-items: center;
}

.screenerOptions{
  grid-column: 2/4;
  background-color: rgb(241, 241, 241);
  height: 100%;
  border-radius: 5px;
}

.activeInputs button{
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: rgb(190, 190, 190);
  border: none;
  border-radius: 0.4rem;
}

/* MultiRange */
.multiRange{
  margin: auto;
  width: 100%;
  background-color: rgb(241, 241, 241);
  border-radius: 0.5rem;
}

.multiRangeHeader{
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 1rem;
}

.multiRangeHeader button{
    padding: 0.4rem;
    cursor: pointer;
}

.multiRange label{
  display: block;
  font-size: 2.6rem;
}

.inputContainer{
  position: relative;
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 25rem;
  max-width: 50vw;  
  margin: auto;
}

.multiRange input{
  position: absolute;
  height: 0rem;
  width: 25rem;
  padding: 0;
  margin: 0;
}

input[type=range] {
  -webkit-appearance: none;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
   margin-top: -0.8rem;
   position: relative;
   z-index: 6;
   border-radius: 50%;
   border: 0.3rem solid rgba(0, 110, 255, 0.568);
   background: rgb(122, 186, 245);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 0.5rem;
  width: 25rem;
  max-width: 50vw;
  cursor: pointer;
  background: #8686863b;
  border-radius: 0.2rem;
}

.maxInput[type=range]::-webkit-slider-thumb {
  left: 0.5rem;
}

.minInput[type=range]::-webkit-slider-thumb {
  right: 0.5rem;
}

input[type='range']:focus {
  outline: none;
}

.inputBar{
  display: flex;
  justify-content: space-between;
  height: 0.5rem;
  margin-top: -0.2rem;
  background-color: rgb(0, 108, 250);
}

.inputBar label{
  position: relative;
  font-size: 2.4rem;
  margin-top: -4.5rem;
  height: 2.4rem;
  background-color: rgb(172, 172, 172);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

.inputBar label:first-child{
  margin-left: -5rem;
}
.inputBar label:last-child{
  margin-right: -6rem;
}

.screenerList{
  background-color: var(--light-color);
  overflow-y: hidden;
}

.screenerList .table {
  width: 100%; 
}

.screenerList .table tbody{
  height: 35rem;
}

/* ScatterScreen */
.scatterScreen{
  margin-top: 5rem;
}

.scatterInputs{
  display: grid;
  grid-template-columns: 25rem 18rem 1fr;
  grid-column-gap: 1rem;
  position: relative;
  z-index: 10;
}

.scatterInputs .options{
  grid-column: 1/4;
}

.scatterChartControls{
  height: 4rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--light-color);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.scatterChartControls div{
  font-size: 1.2rem;
}
.scatterChartControls div input{
  height: 1rem;
  margin-left: 0;
  /* height: 1rem; */
}

.scatterFilterSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scatterFilters{
  height: 4rem;
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-gap: 2rem;
}

.dropdownListFilter{
  display: block;
  width: 20rem;
  margin-top: 1rem;
}

.dropdownListFilterContainer{
  width: inherit;
  position: absolute;
  padding: 0.5rem;
  height: 3rem;
  overflow: hidden;
  background-color: var(--light-color);
  border: 0.2rem solid rgb(192, 192, 192);
  border-radius: 0.4rem;
}

.dropdownListFilterContainer:hover{
  height: auto;
}

.dropdownListFilterContainer button{
  width: 100%;
}

.dropdownListFilterHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 3rem;
  align-items: center;
}
.dropdownListFilterHeader label{
  font-size: 2.5rem;
  font-weight: 500;
}

.dropdownListFilterInput{
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 3rem 1fr 3rem;
  border-bottom: 0.1rem solid rgb(163, 163, 163);
}

.dropdownListFilterInput label{
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.dropdownListFilterInput p{
  font-size: 1.2rem;
  margin: 0 0.5rem;
  text-align: right;
}
.dropdownListFilterInput input{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  background-color: white;
}

.scatterHighlight{
  height: 4rem;  
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 0.2rem;
}

.scatterHighlight h3{
  margin-bottom: 0.5rem;
  margin: 0 1rem;
}

.scatterHighlight input{
  margin: 0 1rem;
}

.scatterHighlightOptions{
  display: flex;
}

input[type=color] {
  width: 3rem;
  height: 3rem; 
  border-radius: 50%;
  overflow: hidden;
  border:none;
}

input[type=color]::-webkit-color-swatch {
border: 0.2rem solid rgb(134, 134, 134);
border-radius: 50%;
padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.scatterChart{
  display: grid;
  grid-template-columns: 0rem 1fr;
}
.scatterChart .chartContainer{
  position: relative;
  height: 50rem;
  background-color: var(--light-color);
  margin-bottom: 2rem;
}

.scatterChart .chartContainer button{
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  /* background-color: rgba(144, 238, 144, 0.548); */
}

.yAxis{
  margin: auto;
  padding-bottom: 5rem;
  position: relative;
  right: 20rem;
}

.xAxis{
  margin: auto;
  grid-column: 1/3;
}



/* TickerScreen */
.tickerScreen{
  margin-top: 5rem;
  border-radius: 1rem;
}

.tickerScreenHeader{
  background-color: var(--light-color);
  height: 8rem;
}

.tickerScreenHeader ul{
  display: flex;
  align-items: center;
}
.tickerScreenHeader ul li{
  margin: 0 2rem;
}

.tickerScreenHeader ul li h2{
  padding: 0;
  margin: 0;
}

.ticker{
  margin: auto;
  background-color: rgb(207, 207, 207);
}

.tickerInfo{
  border-bottom: 0.1rem solid black;
  display: flex;
  align-items: center;
}

/* PortfolioScreen */
.portfolioScreen{
  margin-top: 5rem;
}

.portfolioHeader{
  min-height:5rem;
  padding: 2rem;
  background-color: rgb(196, 196, 196);
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15rem,auto));
  grid-gap: 1rem;
  align-items: center;
}

.portfolioHeader li h2, p{
  margin: 0;
  padding: 0;
}

.portfolioListContainer{
  flex-grow: 1;
  background-color: rgb(240, 240, 240);
}

.portfolioList header{
  margin: 1rem;
}

.dividendChart{
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 20rem;
}

.chartOptions{
  width: 20rem;
  height: 40rem;  
  background-color: rgb(196, 196, 196);
}

/* PortfolioList */
.portfolioListTable{
  border-collapse: collapse;
}

.subOptions{
  grid-column: 1/3;
  height: 5rem;
}

.portfolioListHeader th{
  font-size: 1.6rem;
  text-align: left;
  padding-right: 2rem;
  background-color: rgb(153, 153, 153);
  color: white;
}

.portfolioListBody tr{
  margin-right: 2rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid black;
}

.portfolioListBody tr th{
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  margin-right: 2rem;
}

/* PortfolioStats */
.portfolioStats{
  display: grid;
}

/* Chart */

.chartHeader{
  display: flex;
  justify-content: space-between;
}

.chartTypeOptions button{
  padding: 0.5rem;  
}

.optionContainer{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.optionContainer button{
  padding: 0.5rem 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.optionHeader{
  width: 8rem;
}

.optionContainer label{
  display: block;
  font-size: 2rem;
  color: white;
}

.subOptions{
  background-color: rgb(161, 161, 161);
}

.timeOptions{
  margin-left: auto;
}

.section{
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.sectionNav{
  background-color: var(--primary-color);
  height: 6rem;
}

.sectionNav ul{
  height: 6rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.sectionNav ul li{
  padding: 1rem;
  cursor: pointer;
  color: white;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
}

.subOptions ul{
  height: 6rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.sectionContainer{
  height: auto;
  overflow: hidden;
}

.sections{
  position: relative;
  display: grid; 
  grid-template-columns:repeat(10,100%); 
  transition: 0.3s right;
}

.chartContainer{
  height: 40rem;
  background-color: rgb(194, 194, 194);
  overflow: hidden;
}

.chartContainerSmall{
  height: 15rem;
}

.tickerRatios {
  height: 80rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.ratioCharts{
  height: 100rem;
}

.ratioChartContainer{
  background-color: rgb(143, 143, 143);
  height: 25rem;
}

.tickerFinancials{
  background-color: rgb(211, 211, 211);
}

.financialChartContainer{
  height: 30rem;
  padding: 3rem 0;
}

.tickerForecast{
  background-color: rgb(211, 211, 211);
}

.forecastHeader{
  height: 6rem;
  grid-column: 1/2;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
}

.forecastHeader li{
  display: flex;
  align-items: center;
}

.forecastHeader h2{
  font-size: 2.4rem;
  margin: 0;
  margin-left: 1rem;
  min-width: 8rem;
  padding: 0 0.5rem;
  height: 4rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.mainForecast{
  grid-row: 1/3;
  grid-column: 2/3;
}

.growthForecast{
  grid-row: 3/6;
  grid-column: 2/3;
}

.dcfCalculator{
  grid-row: 6/7;
  grid-column: 2/3;
}

.forecastHeaderList{
  display: grid;
  grid-template-columns: repeat(3,20rem);
  grid-column-gap: 2rem;
  align-items: center;
}

.forecastSideList{
  padding: 0 1rem;
}

.forecastSideList li{
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 14rem 1fr;
  align-items: center;
  background-color: var(--primary-variant);
}

.forecastSideList li h2{
  font-size: 2.4rem;  
  grid-column: 1/3;
  margin: 0;
  padding: 0.5rem 0;
}

.forecastSideList li h3{
  font-weight: 600;
  font-size: 1.6rem;
  grid-column: 1/3;
  padding: 0;
  margin-top: 0.3rem;
}

.forecastSideList li h4{
  font-weight: 400;
  text-align: end;
  padding: 0;
  margin: 0;
}

.forecastOptions{
  display: grid;
  grid-template-columns: 1fr 11rem !important;
}

.annualReturns{
  background-color: var(--primary-color)!important;
  color: var(--light-color);
}

.annualReturns h3{
  color: var(--light-color);
}
.annualReturns h4{
  color: lightgreen;
}

.annualReturns h4{
  margin: 0;
}

.bold{
  font-weight: 600!important;
  font-size: 2rem;
}

.total{
  border-top: 0.1rem solid var(--light-color);
}

.forecastReset{
  grid-column: 1/3;
  color: var(--light-color);
}

.fullWidth{
  font-weight: 600;
  grid-column: 1/3;
}

.dcfTable tbody{
  overflow: auto;
}
.dcfTable thead tr{
  padding: 0;
}

.dcfTable tfoot tr td{
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-auto-rows: 2.5rem;
  align-items: center;
  text-align: right;
}

.dcfTable tfoot tr p{
  text-align: right;
}

.forecastPresentation{
  width: 25rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items:center;
}

.forecastPresentation h2{
  grid-column: 1/3;
}
.forecastPresentation h4{
  margin: 0.5rem 0;
}

.futureInput{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(236, 236, 236);
}
.futureInput label{
  grid-column: 1/3;
}

.numberInput{
  width: 5rem;
}

.growthRate{
  grid-row: 3/5;
  grid-column: 2/3;
}

.forecastChartContainer{
  display: grid;
  grid-template-columns: 1fr 24rem;
}

table {
  border-collapse: collapse;
}

th, td{
  padding: 0.2rem;
  max-height: 3rem;
  text-align: left;
}

th{
  margin: 0 0.2rem;
  background-color: white;
  margin-right: auto;
}

td{
  border-bottom: 1px solid black;
  background-color: rgb(211, 211, 211);
}

.timePeriods{
  border-radius: 0.5rem;
}

.timePeriods li{
  background-color: rgb(128, 128, 128);
}

.timePeriods li:first-child{
  border-radius: 0.5rem 0 0 0.5rem;
}

/* MachineLearning */
.machineLearningOptions{
  height: 6rem;
  display: grid;
  align-items: center;
  grid-template-columns: 30rem 30rem 20rem 5rem;
}
.machineLearningOptions h2{
margin: 0;
}

.machineLearningOptions .searchBox{
  padding: 0;
  width: 10rem;
  margin-left: 0;
}

.machineLearning{
  height: 40rem;
  background-color: rgb(161, 161, 161);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
}

.mlStats{
  margin-top: 1rem;
}

.mlStat{
  display: flex;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid black;
}

.mlStat p{
  margin-right: 2rem;
}

.predictionChart{
  grid-column: 2/3;
}

.mlTrainingOptions{
  padding-right: 1rem;
}

.mlTrainingOptions li{
  margin: 1rem 0;
  display: grid;
  color: azure;
}

.mlTrainingOptions li input{
  height: 3rem;
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {

  body{
    font-size: 1.3rem;
  }

  .headerContainer{
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem auto;
  }

  .mainLogo{
    grid-column: 1/2;
  }

  .button{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 2rem;
  }

  .selectPortfolio{
    display: none;
  }

  .mainLogo a{
    font-size: 2rem;
    height: 1rem;
  }  
  .searchBox{
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .searchBox input{
    font-size: 1.4rem;
    height: 1.6rem;
    margin: 1rem;
  }

  .navbar {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .subHeader{
    height: 3.5rem;
  }

  .subHeader ul{
    height: 3.5rem;
  }

  .subHeaderNav ul li a{
    height: 3rem;
  }

  .headerCurrencies{
    display: none;
  }

  .homeScreen{
    margin: 0;
    grid-template-columns: 1fr;
  }

  .tickerTable{
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 3.5rem; 
    grid-row: 1/2;
    font-size: 1rem;
  }

  .portfolioSection{
    display: none;
  }

  .screenerInputContainer{
    background-color: var(--light-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
  }

  .screenerOptions{
    grid-column: 1/2;
    background-color: rgb(241, 241, 241);
    height: 100%;
    border-radius: 5px;
  }

  .inputContainer{
    width: 60vw;
    transform: scale(1)
  }

  .inputBar label{
    font-size: 1.6rem;
    height: 1.6rem;
  }

  .screenerScreen{
    margin-top: 0rem;
  }

  .table{
    max-width: 100vw;
    overflow: hidden;
  }

  .table thead tr{
    grid-template-columns: repeat(15,5rem)
  }
  .table tbody tr{
    grid-template-columns: repeat(15,5rem)
  }

  .scatterInputs{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }

  .scatterFilters{
    height: 10rem;
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 0;
  }

  .scatterHighlight{
    height: auto;
    margin: 2rem 0;
  }

  .scatterHighlight input{
    display: none;
  }

  .options{
    height: auto;
  }

  .sectionContainer{
    background-color: rgb(194, 194, 194);
  }

  /* OptionsBar */
  .options ul{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    max-width: 100vw;
    padding: 0;
  }
  .dropdownListFilterContainer:first-child{
    position: relative;
  }

  .tickerScreen {
    margin-top: 0;
  }
  .tickerScreenHeader {
    height: auto;
  }
  .tickerScreenHeader ul li{
    font-size: 0.7rem;
    margin: 0 0.2rem; 
  }

  .section{
    grid-template-rows: auto 1fr;
    max-width: 100vw;
  }

  .section ul:first-child{
    display: flex;
  }
.scatterScreen{
  margin-top: 0;
}
.options{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }


  .section ul{
    display: grid;
    grid-template-columns: 1fr;    
    grid-template-rows: 1fr 1fr;
  }

  .sectionNav{
    background-color: var(--primary-color);
    height: auto;
  }
  
  .sectionNav ul{
    height: auto;
    padding-left: 0rem;
    display: flex;
    align-items: center;
  }
  .timePeriods{
    position: fixed;
    background-color: rgb(128, 128, 128);
    z-index: 100;
    bottom: 0;
    display: grid !important;
    grid-template-columns: repeat(4,1fr) !important;
    grid-template-rows: 1fr!important;
    padding: 0!important;
    margin:0!important;
  }

  .priceChartSection .options ul{
    /* display: grid; */
  }

  .ratioCharts{
    max-width:100vw!important;    
     overflow: hidden!important;
  }

  .ratioChartContainer{
    max-width:100vw!important;    
    overflow: hidden!important;
  }

  .chartContainer{
    width: 100vw;
  }

  .timePeriods li:first-child{
    border-radius:0;
  }

  .eventChart, .financialChartContainer, .tickerScreenChart .chartContainer{
    height: 400px;
    transform: scale(0.5);
    width: 200vw;
    margin-left: -50vw;
    margin-top: -100px;
  }

  .chartContainerSmall{
    max-width: 100vw;
  }

  .ratioChartContainer{
    height: 30vh;
  }

  .tickerCategoriesContainer{
    max-width: 100vw;
  }


.tickerForecast{
  max-width: 100vw;
}

.forecastHeader{
  display: none;
  grid-template-columns: 1fr!important;
  max-width: 100vw;
}

.forecastChartContainer{
  display: grid;
  grid-template-columns: 1fr;
  height: 60vh;
  margin-top: 30vh;
  overflow: scroll;
}

.forecastChartContainer .chartContainer{
  position: fixed;
  z-index: 100;
  margin-top: -30vh;
  height: 30vh;
}

.forecastChartContainer .chartContainerSmall{
  /* grid-row: 10/13; */
  grid-column: 1/2;  
}

.mainForecast{
  grid-row: 1/4;
  grid-column: 1/2;
}

.growthForecast{
  grid-row: 4/7;
  grid-column: 1/2;
}
.dcfTable{
  display: none;
}
.dcfCalculator{
  display: none;
  /* grid-row: 6/7;
  grid-column: 1/2; */
}



.forecastReset{
  grid-column: 1/2;
  color: var(--light-color);
}

.forecastSideList li h2{
  /* height: 200px; */
  /* overflow: scroll; */
  font-size: 2.4rem;  
  /* grid-column: 1/2; */
  /* margin: 0; */
  /* padding: 0.5rem 0; */
}

.forecastSideList li h3{
  /* font-weight: 600; */
  /* font-size: 1.6rem; */
  /* grid-column: 1/2; */
  /* padding: 0; */
  /* margin-top: 0.3rem; */
}
}