*{
  /* margin: 0;
  padding: 0; */
}

:root{
  --main-container-color:rgb(236, 236, 236);
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0px;
}

.delete{
  background-color: rgb(255, 122, 122);
}

p, h3{
  margin: 0;
  padding: 0;
}

.lightGreen{
  background-color: lightgreen;
}

.gray{
  background-color: lightgrey;
}

.textRight{
  text-align: right;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

.App{
  min-height: 100vh;
}
.container{
  width: 1200px;
  max-width: 100vw;
  margin: auto;
}

.button{
  border-radius: 0.5rem;
}

.chart{
  height: 30rem;
}

.formInput{
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}

.card{
  background-color: var(--main-container-color);
  border-radius: 1rem;
}

/* Header */
.header{
  background-color: rgb(219, 219, 219);
}

h1{
  margin: 0;
}

.headerContainer{
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navbar li{
  margin: 1rem;
}

/* SelectPortfolio */
.selectPortfolio{
  display: flex;
  flex-direction: column;
}

.selectPortfolio label{
  font-size: 1.2rem;
}

 /* HomeScreen */
.homeScreen{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 5rem;
  grid-gap: 2rem;
}

.mainHeader{
  border-bottom: 0.1rem solid black; 
  padding: 1rem 0;
}

.portfolioListTickers{
  /* display: flex; */
}

.portfolioSection{
  padding: 2rem;
}

.portfolioListTicker{
  display: grid;
  grid-template-columns: 10rem 1fr 8rem;
  height: 3rem;
  border-bottom: 0.1rem solid rgb(163, 163, 163);
  align-items: center;
}

.tickerPrice{
  text-align: end;
  font-weight: bold;
}

.tickerTable{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
  grid-auto-rows: 6rem;
  grid-gap: 0.3rem;
  align-items: center;
  /* justify-content: space-around; */
}

.tickerTable{
  font-size: 2rem;
}

.tickerTableTicker{
  height: 100%;
  text-decoration: none;
}

.tickerTableTicker p,h3{
  padding: 0.2rem;
  color: rgb(0, 0, 0);
}
.tickerTableTicker p{
  text-align: right;
  font-weight: bold;
}

.tickerTableTicker{
  background-color: rgb(223, 223, 223);
}

.tickerTableTicker:hover{
  background-color: rgb(110, 110, 110);
} 

.tickerTableTicker:hover h3{
    color: rgb(248, 248, 248);
} 

/* TradingScreen */
.tickerList{
  margin: auto;
  width: 70rem;
}

.createPortfolio{
  margin: 2rem;
}

.portfolio{
  background-color: rgb(161, 228, 191);
  margin: 2rem 2rem;
}
 
.portfolioHead{
  display: grid;
  grid-template-columns: 16rem 1fr 11rem;
  grid-column-gap: 0.5rem;
  height: 6rem;
}

.portfolioInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolioTicker{
  border-bottom: 0.1rem solid black;
}

.tickerHeader{
  display: grid;
  grid-template-columns: 10rem 20rem 1fr 1fr 7rem;
  grid-column-gap: 1rem;
  align-items: center;
}

.tickerHeader p{
  margin: 0;
}

.portfolioModify{
  display: flex;
}

.headerButtons{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.headerButtons button{
  height: 2.5rem;
}

.smoothInput{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerInput{
  height: 3rem;
  font-size: 2rem;
  width: 16rem;
}

.tickerTransactions{
  overflow: hidden;
}

.addTickerTransaction ul{
  display: flex;
  background-color: rgb(194, 194, 194);
}

.addTickerTransaction ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.addTickerTransaction ul li input{
  width: 5rem;
}

#shareDate{
  width: 13rem;
}

.transactionType div{
  display: flex;
}

.transaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}

.transaction input{
  width: 5rem;
  text-align: right;
}

.transaction p{
  margin: 0.5rem;
}



/* Graph */
.mainGraphs{
  display: grid;
  grid-template-rows: 45rem 30rem;
 padding: 2rem; 
}

.selectedPortfolio{
  display: flex;
}

.labels{
  position: absolute;
}

/* SigninScreen */

.form ul{
  list-style-type: none;
  padding: 2rem;
  margin-top: 2rem;
}

.form ul li{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.form{
  max-width: 40rem;
  margin: auto;
  background-color: var(--main-container-color);
}

/* AddDataScreen */
.inputPage{
  display: flex;
  margin:5rem;
}

.inputActions{
  display: flex;
  margin-top: 1rem;
}

.button{
  height: 3rem;
  min-width: 5rem;
}

.dataInputs{
  display: flex;
  flex-direction: column;
}

.financeInput{
  height: 20rem;
  border: 0.1rem solid black;
}

.companyInputInfo{
  display: flex;
  width: 20rem;
  justify-content: space-between;
}

.inputInfo{
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid black;
}

.searchBox{
  margin: auto;
  height: 3rem;
}

.searchBox input{
  
  width: 25rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(128, 128, 128)k;
}

.searchResult{
  position: relative;
  /* height: 0; */
  background-color: rgb(199, 199, 199);
  height: 3rem;
  display: grid;
  font-size: 1.4rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 25rem;
  display: block;
}

.searchResult:hover{
  background-color: rgb(150, 150, 150);
}

.searchResult p{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.outputItem{
  display: flex;
}


/* TickerScreen */
.tickerScreen{
  margin-top: 5rem;
  border-radius: 1rem;
}

.tickerScreenHeader{
  background-color: rgb(230, 230, 230);
  height: 8rem;
}

.tickerScreenHeader ul{
  display: flex;
  align-items: center;
}
.tickerScreenHeader ul li{
  margin: 0 2rem;
}

.ticker{
  margin: auto;
  background-color: rgb(207, 207, 207);
}

.tickerInfo{
  border-bottom: 0.1rem solid black;
  display: flex;
  align-items: center;
}

.portfolioScreen{
  margin-top: 5rem;
}

.portfolioHeader{
  min-height:5rem;
  padding: 2rem;
  background-color: rgb(196, 196, 196);
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15rem,auto));
  grid-gap: 1rem;
  align-items: center;
}

.portfolioHeader li h2, p{
  margin: 0;
  padding: 0;
}

.portfolioListContainer{
  flex-grow: 1;
  background-color: rgb(240, 240, 240);
}

.portfolioList header{
  margin: 1rem;
}

.dividendChart{
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 20rem;
}

.chartOptions{
  width: 20rem;
  height: 40rem;  
  background-color: rgb(196, 196, 196);
}

/* PortfolioList */
.portfolioListTable{
  border-collapse: collapse;
}

.subOptions{
  grid-column: 1/3;
  height: 5rem;
}

.portfolioListHeader th{
  font-size: 1.6rem;
  text-align: left;
  padding-right: 2rem;
  background-color: rgb(153, 153, 153);
  color: white;
}

.portfolioListBody tr{
  margin-right: 2rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid black;
}

.portfolioListBody tr th{
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  margin-right: 2rem;
}

/* Chart */

.chartHeader{
  display: flex;
  justify-content: space-between;
}

.chartTypeOptions button{
  padding: 0.5rem;  
}

.optionContainer{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.optionContainer button{
  padding: 0.5rem 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.optionHeader{
  width: 8rem;
}

.optionContainer label{
  display: block;
  font-size: 2rem;
  color: white;
}

.subOptions{
  background-color: rgb(161, 161, 161);
}

.timeOptions{
  margin-left: auto;
}

.section{
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.sectionNav{
  background-color: rgb(102, 102, 102);
  height: 6rem;
}

.sectionNav ul{
  height: 6rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.sectionNav ul li{
  padding: 1rem;
  cursor: pointer;
  color: white;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
}

.subOptions ul{
  height: 6rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.sectionContainer{
  height: auto;
  overflow: hidden;
}

.sections{
  position: relative;
  display: grid; 
  grid-template-columns:repeat(10,100%); 
  transition: 0.3s right;
}

.chartContainer{
  height: 40rem;
  background-color: rgb(194, 194, 194);
}

.tickerRatios {
  height: 80rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.ratioCharts{
  height: 100rem;
}

.ratioChartContainer{
  background-color: rgb(143, 143, 143);
  height: 25rem;
}

.tickerFinancials{
  background-color: rgb(211, 211, 211);
}

.financialChartContainer{
  height: 30rem;
  padding: 3rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td{
  padding: 0.2rem;
}

th{
  margin: 0 0.2rem;
  background-color: white;
}

td{
  border-bottom: 1px solid black;
  background-color: rgb(211, 211, 211);
}

/* Options */
.options{
  display: flex;
  justify-content: space-between;
  background-color: rgb(165, 165, 165);
}

.options ul{
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 1rem;
}

.options ul li{
  padding: 1rem;
  cursor: pointer;
  color: white;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
}

.timePeriods{
  border-radius: 0.5rem;
}

.timePeriods li{
  background-color: rgb(128, 128, 128);
}

.timePeriods li:first-child{
  border-radius: 0.5rem 0 0 0.5rem;
}